nav {
  width: 100%;
  max-height: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 20px;
  background: rgba(0, 0, 0, 0.72);
  overflow: hidden;
  transition: max-height .5s ease-in-out;
}
nav.active {
  max-height: 800px;
}
.nav-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-section-language-and-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.logo {
  width: clamp(90px, 15vw, 140px);
  height: clamp(40px, 8vw, 50px);
  border: 2px solid white;
  border-radius: 10px;
  img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.link-page-search {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #828187;
  .search-icon {
    font-size: clamp(20px, 5vw, 30px);
  }
  p {
    font-size: clamp(20px, 5vw, 30px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  &:hover {
    color: white;
  }
}
.link-selected {
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  .selected-icon {
    color: #828187;
    font-size: clamp(20px, 5vw, 30px);
    &:hover {
      color: white;
    }
  }
}
.memory-language {
  width: clamp(50px, 5vw, 62px);
  height: clamp(30px, 5vw, 35px);
  overflow: hidden;
  cursor: pointer;
  .click-memory-language {
    display: grid;
    grid-template-columns: 80px;
    grid-template-rows: repeat(2, 45px);

  }
  .RUS, .GBP {
    border: 2px solid white;
    width: clamp(50px, 5vw, 62px);
    height: clamp(30px, 5vw, 35px);
    border-radius: 5px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.container-SignIn-SignUp-links {
  display: flex;
  align-items: center;
  gap: 10px;
  .signIn-signUp-button {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid aliceblue;
    padding: 3px 10px 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    color: aliceblue;
  }
}
.button-logout {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid aliceblue;
  padding: 3px 10px 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  letter-spacing: 1px;
  background: transparent;
  color: aliceblue;
}

.burger-menu {
  display: none;
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
}

.burger-menu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: aliceblue;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .35s ease-in-out;
}

.burger-menu span.top {
  top: 0;
  transform-origin: left center;
}

.burger-menu span.middle {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger-menu span.bottom {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger-menu.active span.top {
  transform: rotate(45deg);
  top: 0;
  left: 5px;
}

.burger-menu.active span.middle {
  width: 0%;
  opacity: 0;
}

.burger-menu.active span.bottom {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

@media (max-width: 640px) {
  nav {
    gap: 20px;
    max-height: 75px;
  }
  .burger-menu {
    display: block;
  }
  .nav-section {
    width: 100%;
    flex-direction: column;
    align-items: end;
    padding: 20px;
  }
}