.modal-signUp {
  width: 100%;
  height: 100%;
  background: #242424;
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-signUp-content {
  width: 100%;
  max-width: 500px;
  height: max-content;
}
.form-sign-up {
  width: 100%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px ;
  border-bottom: none;
  h2 {
    color: #FFFFFF;
  }
  input {
    width: 100%;
    font-size: 1.2rem;
    padding: 0.8rem;
    border: none;
    outline: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #434343;
  }
  input[type=submit] {
    padding: 0.8rem 0;
    background: green;
    color: white;
    letter-spacing: 1px;
    font-weight: 700;
    border: 1px solid white;
    cursor: pointer;
  }
}
.container-facebook-google-auth {
  width: 100%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 1.5rem 1.5rem 1.5rem;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: none;
  div {
    width: 100%;
    font-size: 1.2rem;
    padding: 0.8rem;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
      width: 25px;
      height: 25px;
    }
  }
}
.form-sign-up-container-email,
.form-sign-up-container-password {
  width: 100%;
  display: flex;
  align-items: center;
}
.form-sign-up-container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #02025c;
  padding: 0.9rem;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.form-sign-up-icon {
  font-size: 1.2rem;
}
@media (max-width: 600px) {
  .modal-signUp-content {
    max-width: 400px;
  }
  .form-sign-up {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }
  .container-facebook-google-auth div {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .form-sign-up-container-icon {
    padding: 0.6rem;
  }
  .form-sign-up input {
    padding: 0.5rem 0.5rem 0.5rem 0.8rem;
    font-size: 1rem;
  }
  .form-sign-up-icon {
    font-size: 1rem;
  }
  .form-sign-up input[type=submit] {
    padding: 0.5rem 0;
  }
}
@media (max-width: 450px) {
  .modal-signUp-content {
    max-width: 300px;
  }
}