.modal-signUp {
  width: 100%;
  height: 100vh;
  background: #242424;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  justify-content: center;
  align-items: center;
}
.modal-signUp-content {
  width: 100%;
  max-width: 500px;
  height: max-content;
}
.form-sign-up {
  width: 100%;
  max-width: 500px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px ;
  border-bottom: none;
  input {
    width: 100%;
    font-size: 1.2rem;
    padding: 0.8rem;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #434343;
  }
  input[type=submit] {
    padding: 0.8rem 0;
    background: green;
    color: white;
    letter-spacing: 1px;
    font-weight: 700;
    border: 1px solid white;
    cursor: pointer;
  }
}
.container-facebook-google-auth {
  width: 100%;
  max-width: 500px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 1.5rem 1.5rem 1.5rem;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: none;
  div {
    width: 100%;
    font-size: 1.2rem;
    padding: 0.8rem;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
      width: 25px;
      height: 25px;
    }
  }
}